body{

    text-align: center;
    font-family: 'serif';
    background-image: url("https://cdn.sanity.io/images/i8o2gj51/production/c224187d98380e155eb0b2086a0957536a1074ec-2213x2743.jpg?auto=format&fit=crop&fp-x=0.5&fp-y=0.493&h=500&q=100&rect=0,0,2213,2743&w=500");
    color: green;
}